## Sanntender - XGBoost

In [2]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-

In [6]:
### ```````````````````````
### import statements
###

import os
from time import time
import numpy as np
import pandas as pd
import xgboost

from sklearn.datasets import load_digits


import matplotlib

from sklearn.preprocessing import StandardScaler, LabelEncoder

from sklearn.model_selection import train_test_split

from sklearn.metrics import (precision_score, recall_score, accuracy_score, classification_report, roc_auc_score)

import matplotlib.pyplot as plt

In [4]:

RANDOM_STATE = 24
np.random.seed(RANDOM_STATE)

TEST_SIZE = 0.2

In [7]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

train_df.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [8]:
train_df.describe

<bound method NDFrame.describe of            ID  var3  var15  imp_ent_var16_ult1  imp_op_var39_comer_ult1  \
0           1     2     23                 0.0                      0.0
1           3     2     34                 0.0                      0.0
2           4     2     23                 0.0                      0.0
3           8     2     37                 0.0                    195.0
4          10     2     39                 0.0                      0.0
...       ...   ...    ...                 ...                      ...
76015  151829     2     48                 0.0                      0.0
76016  151830     2     39                 0.0                      0.0
76017  151835     2     23                 0.0                      0.0
76018  151836     2     25                 0.0                      0.0
76019  151838     2     46                 0.0                      0.0

       imp_op_var39_comer_ult3  imp_op_var40_comer_ult1  \
0                          0.0                      0.0
1                          0.0                      0.0
2                          0.0                      0.0
3                        195.0                      0.0
4                          0.0                      0.0
...                        ...                      ...
76015                      0.0                      0.0
76016                      0.0                      0.0
76017                      0.0                      0.0
76018                      0.0                      0.0
76019                      0.0                      0.0

       imp_op_var40_comer_ult3  imp_op_var40_efect_ult1  \
0                          0.0                      0.0
1                          0.0                      0.0
2                          0.0                      0.0
3                          0.0                      0.0
4                          0.0                      0.0
...                        ...                      ...
76015                      0.0                      0.0
76016                      0.0                      0.0
76017                      0.0                      0.0
76018                      0.0                      0.0
76019                      0.0                      0.0

       imp_op_var40_efect_ult3  ...  saldo_medio_var33_hace2  \
0                          0.0  ...                      0.0
1                          0.0  ...                      0.0
2                          0.0  ...                      0.0
3                          0.0  ...                      0.0
4                          0.0  ...                      0.0
...                        ...  ...                      ...
76015                      0.0  ...                      0.0
76016                      0.0  ...                      0.0
76017                      0.0  ...                      0.0
76018                      0.0  ...                      0.0
76019                      0.0  ...                      0.0

       saldo_medio_var33_hace3  saldo_medio_var33_ult1  \
0                          0.0                     0.0
1                          0.0                     0.0
2                          0.0                     0.0
3                          0.0                     0.0
4                          0.0                     0.0
...                        ...                     ...
76015                      0.0                     0.0
76016                      0.0                     0.0
76017                      0.0                     0.0
76018                      0.0                     0.0
76019                      0.0                     0.0

       saldo_medio_var33_ult3  saldo_medio_var44_hace2  \
0                         0.0                      0.0
1                         0.0                      0.0
2                         0.0                      0.0
3                         0.0                      0.0
4                         0.0                      0.0
...                       ...                      ...
76015                     0.0                      0.0
76016                     0.0                      0.0
76017                     0.0                      0.0
76018                     0.0                      0.0
76019                     0.0                      0.0

       saldo_medio_var44_hace3  saldo_medio_var44_ult1  \
0                          0.0                     0.0
1                          0.0                     0.0
2                          0.0                     0.0
3                          0.0                     0.0
4                          0.0                     0.0
...                        ...                     ...
76015                      0.0                     0.0
76016                      0.0                     0.0
76017                      0.0                     0.0
76018                      0.0                     0.0
76019                      0.0                     0.0

       saldo_medio_var44_ult3          var38  TARGET
0                         0.0   39205.170000       0
1                         0.0   49278.030000       0
2                         0.0   67333.770000       0
3                         0.0   64007.970000       0
4                         0.0  117310.979016       0
...                       ...            ...     ...
76015                     0.0   60926.490000       0
76016                     0.0  118634.520000       0
76017                     0.0   74028.150000       0
76018                     0.0   84278.160000       0
76019                     0.0  117310.979016       0

[76020 rows x 371 columns]>